<h1>Stock Details</h1>
<%# <%= @stock[:name] %>
<ul>
  <li>Name: <%= @stock[:name] %></li>
  <li>Symbol: <%= @stock[:symbol] %></li>
  <li>Price: <%= @stock[:price] %></li>
  <li>1d change: <%= @stock[:chg_1d_currency] %></li>
</ul>
